<%= javascript_include_tag 'https://d3js.org/d3.v3.min.js' %>

<section>
  <div class="col-sm-6">
    <div id="count_by_date"></div>
  </div>
  <div class="col-sm-3">
    <div id="count_by_destination"></div>
  </div>
  <div class="col-sm-3">
    <div id="count_by_reason"></div>
  </div>
</section>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#count_by_date',
    size: {height: 200},
    data: {
      x: 'x',
      columns: [
        ['x', <%= raw @count_by_date.keys.map {|i| i.strftime('%Y-%m-%d') }.map(&:inspect).join(?,) %>],
        ['bounce mail count', <%= @count_by_date.values.join(?,) %>]
      ],
      type: 'bar'
    },
    legend: {show: false},
    axis: {
      x: {
        type: 'timeseries',
        tick: {format: '%Y-%m-%d'}
      }
    }
  });
<% end %>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#count_by_destination',
    size: {height: 200},
    data: {
      columns: <%= raw @count_by_destination.to_a.inspect %>,
      type : 'pie'
    }
  });
<% end %>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#count_by_reason',
    size: {height: 200},
    data: {
      columns: <%= raw @count_by_reason.to_a.inspect %>,
      type : 'pie'
    }
  });
<% end %>
