<%= javascript_include_tag 'https://d3js.org/d3.v3.min.js' %>

<section>
  <div class="col-md-8">
    <div id="count_by_date"></div>
  </div>
  <div class="col-md-4">
    <div id="count_by_destination"></div>
  </div>
</section>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#count_by_date',
    size: {height: 200},
    data: {
      x: 'x',
      columns: [
        ['x', <%= raw @count_by_date.keys.map {|i| i.strftime('%Y-%m-%d') }.map(&:inspect).join(?,) %>],
        ['count', <%= @count_by_date.values.join(?,) %>]
      ],
      type: 'bar'
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {format: '%Y-%m-%d'}
      }
    }
  });
<% end %>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#count_by_destination',
    size: {height: 200},
    data: {
      columns: <%= raw @count_by_destination.to_a.inspect %>,
      type : 'pie'
    }
  });
<% end %>
