<div class="page-header">
  <strong><%= mail_link @bounce_mail %></strong>
  <span class="text-muted">(<%= @bounce_mail.digest %>)</span>
  <% if @whitelist_mail %>
    <%= link_to whitelist_mail_path(@whitelist_mail.id) do %>
      <span class="label label-success">Whitelisted</span>
    <% end %>
    <br>
    <span class="small">
      whitelisted_at: <%= @whitelist_mail.created_at.strftime('%-m/%-d %-H:%M') %>
    </span>
  <% end %>
</div>

<section>
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th class="tight">Timestamp</th>
          <th class="x-tight">Reason</th>
          <th class="tight">Addresser</th>
          <th>Subject</th>
          <th>Diagnosticcode</th>
        </tr>
      </thead>

      <tbody>
        <% @history.each do |bounce_mail| %>
          <tr>
            <td>
              <%= bounce_mail.timestamp.strftime('%-m/%-d %-H:%M') %>
              <% if bounce_over?(@bounce_mail.max_whitelist_mail_created_at, bounce_mail.timestamp) %>
                <span class="label label-warning">Bounce over</span>
              <% end %>
            </td>
            <td><%= bounce_mail.reason %></td>
            <td><%= bounce_mail.addresser %></td>
            <td><%= bounce_mail.subject %></td>
            <td><%= bounce_mail.diagnosticcode %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<section>
  <div class="col-sm-12">
    <%= link_to bounce_mails_path do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back
    <% end %>
    &nbsp;
    <% if @bounce_mail.whitelisted %>
      <%= link_to whitelist_mails_deregister_path(
            'whitelist_mail[recipient]': @bounce_mail.recipient, 'whitelist_mail[senderdomain]': @bounce_mail.senderdomain,
            return_to: bounce_mail_path(@bounce_mail, digest: @bounce_mail.digest)),
            method: :post, data: { confirm: "Are you sure you want to deregister '#{@bounce_mail.recipient}' from white list?" } do %>
        <span class="glyphicon glyphicon-unchecked"></span>
        Unwhitelist
      <% end %>
    <% else %>
      <%= link_to whitelist_mails_register_path(
            'whitelist_mail[recipient]': @bounce_mail.recipient, 'whitelist_mail[senderdomain]': @bounce_mail.senderdomain,
            return_to: bounce_mail_path(@bounce_mail, digest: @bounce_mail.digest)),
            method: :post, data: { confirm: "Are you sure you want to register '#{@bounce_mail.recipient}' to white list?" } do %>
        <span class="glyphicon glyphicon-check"></span>
        Whitelist
      <% end %>
    <% end %>
    &nbsp;
    <%= link_to sender_path(from: @bounce_mail.addresser, to: @bounce_mail.recipient) do %>
      <span class="glyphicon glyphicon-envelope"></span>
      Confirm
    <% end %>
  </div>
</section>

<section class="disable-margin-top">
  <div class="col-sm-12 text-center">
    <%= paginate @history %>
  </div>
</section>
