<div class="page-header">
  <span class="glyphicon glyphicon-envelope"></span>
  <strong>All Bounce Mails</strong>
</div>

<section>
  <div class="col-sm-12">
    <%= button_to 'Download CSV', admin_download_path, method: 'get', class: 'btn btn-primary' %>
  </div>
</section>

<section>
  <div class="col-sm-12">
    <%= form_tag admin_search_path do %>
      <div class="form-group">
        <%= text_area_tag :query, @query || '', class: 'form-control', rows: 3,placeholder: 'email (SQL LIKE syntax: e.g. %@example.com)' %>
      </div>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <%= submit_tag 'Clear', onclick: "$('#query').text('');", class: 'btn btn-default' %>
    <% end %>
  </div>
</section>

<% if @bounce_mails.present? %>
  <section>
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th class="x-tight">Timestamp</th>
            <th>Recipient</th>
            <th>Addresser</th>
            <th class="x-tight"></th>
            <th class="x-tight"></th>
            <th class="x-tight"></th>
          </tr>
        </thead>

        <tbody>
          <% @bounce_mails.each do |bounce_mail| %>
            <tr>
              <td><%= bounce_mail.timestamp.strftime('%-m/%-d %-H:%M') %></td>
              <td>
                <%= bounce_mail.recipient %>
                <% if blacklisted_label?(bounce_mail) %>
                  <span class="label label-danger">Blacklisted</span>
                <% end %>
              </td>
              <td><%= bounce_mail.addresser_or_alias %></td>
              <td>
                <%= link_to admin_path(bounce_mail) do %>
                  <span class="glyphicon glyphicon-search"></span>
                  Show
                <% end %>
              </td>
              <td>
                <% if bounce_mail.whitelisted %>
                  <%= link_to whitelist_mails_deregister_path(
                        'whitelist_mail[recipient]': bounce_mail.recipient, 'whitelist_mail[senderdomain]': bounce_mail.senderdomain,
                        return_to: current_page?(admin_search_path) ? admin_search_path : admin_index_path(page: params[:page])),
                        method: :post, data: { confirm: "Are you sure you want to deregister '#{bounce_mail.recipient}' to whitelist?" } do %>
                    <span class="label label-success">Whitelisted</span>
                  <% end %>
                <% else %>
                  <%= link_to whitelist_mails_register_path(
                        'whitelist_mail[recipient]': bounce_mail.recipient, 'whitelist_mail[senderdomain]': bounce_mail.senderdomain,
                        return_to: current_page?(admin_search_path) ? admin_search_path : admin_index_path(page: params[:page])),
                        method: :post, data: { confirm: "Are you sure you want to register '#{bounce_mail.recipient}' to whitelist?" } do %>
                    <span class="glyphicon glyphicon-check"></span>
                    Whitelist
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_path(bounce_mail), method: :delete, data: { confirm: "Are you sure to delete '#{bounce_mail.recipient} from bounce list?" } do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  Destroy
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <section class="disable-margin-top">
    <div class="col-sm-12 text-center">
      <%= paginate @bounce_mails, action: :index, to: admin_index_path %>
    </div>
  </section>
<% elsif @query.present? %>
  <section>
    <div class="col-sm-12">
      <span class="glyphicon glyphicon-flash"></span>
      No results found for <strong><%= @query %></strong>
    </div>
  </section>
<% end %>
