<div class="page-header">
  <span class="glyphicon glyphicon-stats"></span>
  Recently Bounced
</div>

<section>
  <div class="col-sm-6">
    <div id="count_by_date"></div>
  </div>
  <div class="col-sm-3">
    <div id="count_by_destination"></div>
  </div>
  <div class="col-sm-3">
    <div id="count_by_reason"></div>
  </div>
</section>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#count_by_date',
    size: {height: 200},
    data: {
      x: 'x',
      columns: [
        ['x', <%= raw @count_by_date.keys.map {|i| i.strftime('%Y-%m-%d') }.map(&:inspect).join(?,) %>],
        ['bounce mail count', <%= @count_by_date.values.join(?,) %>]
      ],
      type: 'bar'
    },
    legend: {show: false},
    axis: {
      x: {
        type: 'timeseries',
        tick: {format: '%-m/%d'}
      }
    }
  });
<% end %>

<% if @count_by_destination.present? %>
  <%= javascript_tag do %>
    c3.generate({
      bindto: '#count_by_destination',
      size: {height: 200},
      data: {
        columns: <%= raw(
          @count_by_destination.to_a.slice(0, 3)
            .push(['etc', @count_by_destination.values.slice(3..-1).try(:sum)])
            .select {|_, v| v.present? }
            .inspect
        ) %>,
        type : 'pie'
      }
    });
  <% end %>
<% end %>

<% if @count_by_reason.present? %>
  <%= javascript_tag do %>
    c3.generate({
      bindto: '#count_by_reason',
      size: {height: 200},
      data: {
        columns: <%= raw @count_by_reason.to_a.inspect %>,
        type : 'pie'
      }
    });
  <% end %>
<% end %>
