<div class="page-header">
  <span class="glyphicon glyphicon-stats"></span>
  Unique Recipient Bounced
</div>

<section>
  <div class="col-sm-12">
    <div id="uniq_count_by_date"></div>
  </div>
</section>

<section>
  <div class="col-sm-4">
    <div id="uniq_count_by_destination"></div>
  </div>
  <div class="col-sm-4">
    <div id="uniq_count_by_reason"></div>
  </div>
  <div class="col-sm-4">
    <div id="uniq_count_by_senderdomain"></div>
  </div>
</section>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#uniq_count_by_date',
    size: {height: 200},
    data: {
      x: 'x',
      columns: [
        ['x', <%= raw @uniq_count_by_date.keys.map {|i| i.strftime('%Y-%m-%d') }.map(&:inspect).join(?,) %>],
        ['bounce mail count', <%= @uniq_count_by_date.values.join(?,) %>]
      ],
      type: 'bar'
    },
    legend: {show: false},
    axis: {
      x: {
        type: 'timeseries',
        tick: {format: '%-m/%d'}
      }
    }
  });
<% end %>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#uniq_count_by_destination',
    data: {
      columns: <%= raw(
        @uniq_count_by_destination.to_a.slice(0, 3)
          .push(['etc', @uniq_count_by_destination.values.slice(3..-1).try(:sum)])
          .select {|_, v| v.present? }
          .inspect
      ) %>,
      type: 'donut'
    },
    donut: {
      title: '<%= @uniq_count_by_destination.values.sum %> recipients',
    }
  });
<% end %>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#uniq_count_by_reason',
    data: {
      columns: <%= raw @uniq_count_by_reason.to_a.inspect %>,
      type : 'donut'
    },
    donut: {
      title: '<%= @uniq_count_by_reason.values.sum %> recipients',
    }
  });
<% end %>

<%= javascript_tag do %>
  c3.generate({
    bindto: '#uniq_count_by_senderdomain',
    data: {
      columns: <%= raw @uniq_count_by_senderdomain.to_a.inspect %>,
      type : 'donut'
    },
    donut: {
      title: '<%= @uniq_count_by_senderdomain.values.sum %> recipients',
    }
  });
<% end %>
